ipaymu-relay.lfamiliastore.my.id {
  encode zstd gzip
  reverse_proxy 127.0.0.1:8788
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
  }
}

