APP_NAME=
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=
APP_TIMEZONE=
APP_LOCALE=id
APP_FALLBACK_LOCALE=id

LOG_CHANNEL=daily
LOG_LEVEL=info

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SOCKET=

SESSION_DRIVER=file
SESSION_LIFETIME=1440
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=true
CACHE_STORE=file
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

RESEND_API_KEY=
RESEND_FROM=
RESEND_BASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

KOKINPAY_BASE_URL=
KOKINPAY_API_KEY=

DIGIFLAZZ_USERNAME=
DIGIFLAZZ_API_KEY=
DIGIFLAZZ_BASE_URL=
DIGIFLAZZ_CALLBACK_SECRET=

MIDTRANS_ENV=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SNAP_BASE_URL=
MIDTRANS_API_BASE_URL=

DOKU_ENV=
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_API_BASE_URL=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_VERIFY_URL=

INTEGRATION_ENCRYPTION_KEY=
PUBLIC_BASE_URL=
