{
  admin off
}

(lfamilia_provider_relay) {
  reverse_proxy 127.0.0.1:8788 {
    header_up Host {host}
  }
}

digiflazz-relay.lfamiliastore.my.id {
  import lfamilia_provider_relay
}

ipaymu-relay.lfamiliastore.my.id {
  import lfamilia_provider_relay
}

bisnap-relay.lfamiliastore.my.id {
  import lfamilia_provider_relay
}
