{
  admin off
}

(lfamilia_provider_relay) {
  reverse_proxy {$RELAY_UPSTREAM} {
    header_up Host {host}
  }
}

{$DIGIFLAZZ_RELAY_HOST} {
  import lfamilia_provider_relay
}

{$IPAYMU_RELAY_HOST} {
  import lfamilia_provider_relay
}
